<div class="users-header">
  <div>
    <div>
      <h3><%= t(".header") %></h3>
    </div>
  </div>

  <div>
    <div>
      <%= link_to t(".add_member"), new_account_user_path %>
    </div>
  </div>
</div>

<%= render partial: "users", locals: { users: @users } %>
