<table class="users">
  <thead>
    <tr>
      <th><%= t(".team_member") %></th>
      <th><%= t(".role") %></th>
      <th></th>
    </tr>
  </thead>

  <%= render partial: "user", collection: users %>
</table>
