<div class="stylesheet-footer">
  <div>
    <div>
      <select id="preview-iframe-select" class="c-select" data-framework="<%= @stylesheet.framework %>" data-version="<%= @stylesheet.version %>">
        <option value="jumbotron">Jumbotron</option>
        <option value="narrow_jumbotron">Narrow Jumbotron</option>
        <option value="grid">Grid</option>
        <option value="dashboard">Dashboard</option>
      </select>

      <div class="viewer-toggle" role="group" aria-label="Viewport Toggle">
        <button type="button" data-viewport-type="mobile-preview">
          <span class="oi oi-phone"></span>
        </button>
        <button type="button" data-viewport-type="desktop-preview">
          <span class="oi oi-browser"></span>
        </button>
      </div>
    </div>

    <div>
      <%= simple_form_for([:publish, @stylesheet], method: :post) do |f| %>
        <%= f.submit "Publish" %>
      <% end %>
    </div>

    <div>
      <button class="btn btn-secondary sidebar-toggle">
        <span class="oi oi-menu"></span>
      </button>
    </div>
  </div>
</div>
