<div class="stylesheet-footer">
  <div>
    <div>

      <button class="btn btn-secondary sidebar-toggle">
        <span class="oi oi-menu"></span>
      </button>

      <select id="preview-iframe-select" class="c-select" data-framework="<%= @stylesheet.framework %>" data-version="<%= @stylesheet.version %>">
        <option value="jumbotron">Jumbotron</option>
        <option value="narrow_jumbotron">Narrow Jumbotron</option>
        <option value="grid">Grid</option>
        <option value="dashboard">Dashboard</option>
      </select>

      <div class="viewer-toggle" role="group" aria-label="Viewport Toggle">
        <button type="button" data-viewport-type="mobile-preview">
          <span class="oi oi-phone"></span>
        </button>
        <button type="button" class="selected" data-viewport-type="desktop-preview">
          <span class="oi oi-browser"></span>
        </button>
      </div>


      <%= f.input :name, label: false %>
      <%= f.submit %>


    </div>

  </div>
</div>
