<div class="stylesheets">
  <header>
    <div>
      <h3><%= t(".your_stylesheets") %></h3>
    </div>

    <div>
      <%= link_to t(".new_stylesheet"), new_stylesheet_path %>
    </div>
  </header>

  <% if stylesheets.present? %>
    <table>
      <tbody>
        <%= render stylesheets %>
      </tbody>
    </table>
  <% else %>
    <%= image_tag("application/stylesheets/index/first_stylesheet.jpg") %>
  <% end %>
</div>
