<div class="stylesheets">
  <header>
    <div>
      <h3>Your Stylesheets</h3>
    </div>

    <div>
      <%= link_to "New Stylesheet", new_stylesheet_path %>
    </div>
  </header>

  <% if stylesheets.present? %>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Preview Link</th>
        </tr>
      </thead>
      <tbody>
        <%= render stylesheets %>
      </tbody>
    </table>
  <% else %>
    <%= image_tag("application/stylesheets/index/first_stylesheet.jpg") %>
  <% end %>
</div>
