<tr>
  <td>
  <%= link_to edit_stylesheet_path(stylesheet) do %>
    <%= stylesheet.name %>
  <% end %>
  </td>
  <td>
    Embed
  </td>
  <td>
    <%= link_to_if(current_account.site_url.present?, "Preview", current_account.site_url + "?aphrodite=true&aphrodite-id=#{stylesheet.id}" ) do %>
      ?aphrodite=true&aphrodite-id=<%= stylesheet.id %>
      <%# #TODO: Add Link To Help %>
    <% end %>
  </td>
</tr>
