<div class="centered-container">
  <div>
    <div>
      <%= render partial: "stylesheets",
                 locals: { stylesheets: @stylesheets } %>
    </div>
  </div>
</div>

<%# render partial: "application/shared/footer" %>
