#edit-stylesheet {
  min-height: 750px;
  padding-bottom: 75px;

  .browser {
    border: 1px solid #333;
    border-bottom: 0;
  }

  .browser-window {
    border-bottom: 1px solid #333;
    border-left: 1px solid #333;
    border-right: 1px solid #333;
  }

  .mobile-preview {
    background-image: image-url("application/stylesheets/edit/iphone_background_half.gif");
    margin: auto;
    max-width: 452px;
    min-height: 896px;
    width: 452px;

    .browser {
      display: none;
    }

    .browser-window {
      border: none;
    }

    & > div {
      height: 785px;
      padding: 110px 0 0 36px;
      overflow: hidden;
      width: 418px;

      iframe {
        border: none;
        height: 700px;
        width: 397px;
      }
    }
  }

  .desktop-preview {
    & > div {
      margin: 0 -15px;
    }

    .browser {
      @include make-row();
      background-image: image-url("application/stylesheets/edit/browser_middle.png");
      background-repeat: repeat-x;
      border-radius: 3px;

      & > div {
        @include make-col();
        @include make-col-span(10);
        background-image: image-url("application/stylesheets/edit/browser_left.png");
        background-repeat: no-repeat;
        min-height: 69px;
      }

      & > div:last-child {
        @include make-col-span(2);
        background-image: image-url("application/stylesheets/edit/browser_right.png");
        background-position: right;
        background-repeat: no-repeat;
      }
    }

    .browser-window {
      background-color: $white;
      min-height: 500px;
    }

    iframe {
      border: 0;
      min-height: 600px;
      width: 100%;
    }
  }
}



.viewer-toggle {
  @extend .btn-group;

  button {
    @extend .btn;
    @extend .btn-secondary;

    &.selected {
      background-color: #ededed;
      color: #333333;
    }

    &:active,
    &:focus,
    &:hover,
    &:visited {
      outline: none !important;
    }
  }
}

.stylesheets-edit {
  .zopim {
    bottom: 54px !important;
    right: 15px !important;
  }

  &.disable-scroll {
    .zopim {
      right: 30px !important;
    }
  }
}
