.sidebar {
  @include position(fixed, 0 auto 54px -400px);
//  @include transition-property(transform);
//  @include transition-duration(0.3s);
//  @include transition-timing-function(ease-in);

  width: 400px;
  background-color: #ffffff;

  section.variables {
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
  }

  &.is-visible {
//    @include transform(translateX(400px));
  }
}
