.stylesheets {
  @include emphasized-box($white);
  @include make-container();

  margin-bottom: 2rem;
  min-height: 70vh;

  header {
    @include make-row();
    padding-bottom: 1em;
    padding-top: 1em;

    & > div {
      @include make-col();
      @include make-col-span(6);

      &:last-child {
        text-align: right;

        a {
          @extend .btn;
          @extend .btn-primary;
        }
      }
    }
  }

  img {
    max-width: 100%;
  }
}
