section.variables {
  border-left: 1px solid darken(#f9edd2, 10%);

  .panel-heading {
    // background-color: #35CA93;
    background-color: #f9edd2;
    border-bottom: 1px solid darken(#f9edd2, 10%);
  }

  .panel-title a {
    color: $dark-text;
    display: block;
    padding: 5px 15px;

    &:hover {
      text-decoration: none;
    }
  }

  .panel-collapse {
    background-color: #ffffff;
  }
}
