section.variables {
  .panel-heading {
    background-color: #35CA93;
    border-bottom: 1px solid darken(#35CA93, 10%);
  }

  .panel-title a {
    color: #ffffff;
    display: block;
    padding: 5px 15px;

    &:hover {
      text-decoration: none;
    }
  }

  .panel-collapse {
    background-color: #ffffff;
  }
}
