footer {
  background-color: #434863;
  color: #ffffff;
  padding: 2.5em 0;
  font-size: 12px;

  & > div {
    @include make-container();
    max-width: 1024px;
  }

  section {
    @include make-row();

    & > div {
      @include make-col();
      @include make-col-span(12);

      text-align: center;
    }
  }

  ul {
    @extend .list-inline;

    li {
      @extend .list-inline-item;

      a {
        color: #ffffff;
      }
    }
  }
}
