.marketing-header {
  @extend .navbar;
  @extend .navbar-light;
  z-index: 10;

  & > a {
    @extend .navbar-brand;

    color: $white;
    min-width: 200px;
    padding: 0;

    &:hover {
      text-decoration: none;
    }

    img {
      display: inline;
      max-height: 37px;
    }
  }

  .toggle {
    display: none;

    @include hover-focus {
      outline: none;
    }
  }

  .menu-links {
    @extend .nav;
    @extend .navbar-nav;
  }

  .menu-links.collapse {
    display: block;
  }

  .menu-links > div {
    text-align: right;
  }

  .menu-links > div > a {
    // @extend .nav-item;
    @extend .nav-link;

    color: #feffe7;
    display: inline-block;
    padding-bottom: .425em;
    padding-top: .425em;
  }

  @media (max-width: map-get($grid-breakpoints, md)) {
    & > div.menu-links.collapse {
      display: none;
    }

    & > div.menu-links.collapse.in {
      display: block;
    }

    .menu-links {
      padding-top: 10px;
      text-align: right;
    }

    .menu-links > div > a {
      display: block;
      font-weight: 300;
      margin-bottom: 15px;
      margin-top: 15px;
    }

    .toggle {
      color: #feffe7;
      display: block;
      text-align: right;
    }
  }
}
