.marketing-header {
  @extend .navbar;
  @extend .navbar-light;

  & > a {
    color: #ffffff;
    min-width: 200px;
    @extend .navbar-brand;
    vertical-align: middle;

    &:hover {
      text-decoration: none;
    }

    img {
      display: inline;
      max-height: 37px;
    }
  }

  & > div {
    @include pull-right();
    @extend .nav;
    @extend .navbar-nav;
  }

  & > div > a {
    @extend .nav-item;
    @extend .nav-link;

    color: #feffe7;
  }
}
