<nav class="marketing-header">
  <div>
    <a class="active" href="#">Home <span class="sr-only">(current)</span></a>
    <a href="#">Features</a>
    <a href="#">Pricing</a>
    <a href="#">About</a>
  </div>
</nav>
