<nav class="marketing-header">
  <%= link_to root_path do %>
    <span>
      <%= image_tag "logos/swan_white.png" %>
    </span>
    Aphrodite
  <% end %>

  <div>
    <%= link_to "Home", root_path %>
    <a href="#">Features</a>
    <a href="#">Pricing</a>
    <a href="#">About</a>
    <% if Rails.env != "production" || params[:preview] == "true" %>
      <%= link_to "Login", new_user_session_path %>
    <% end %>
  </div>
</nav>
