<%= render "marketing/shared/hero_block" do %>
  <div class="centered-container">
    <div>
      <div>

        <div class="inquiry-submitted">
          <div>
            <header>
              <h3><%= t(".title") %></h3>
              <p><%= t(".description") %></p>
              <br>
            </header>
          </div>
        </div>

      </div>
    </div>
  </div>
<% end %>
