.account-settings {
  @include make-row();

  & > div {
    @include make-col();
    @include make-col-span(2);

    & > div {
      background-color: $white;
      box-shadow: 0 0 8px darken($brand-info, 5%);
    }
  }

  & > div:last-child {
    @include make-col-span(10);

    & > div {
      padding: $grid-gutter-width;
      min-height: 75vh;
      margin-bottom: 50px;

    }
  }
}
