<header>
  <h3><%= t(".heading") %></h3>
</header>

<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= f.input :email, autofocus: true %>

  <footer>
    <%= f.submit t(".submit") %>
  </footer>
<% end %>
