<%= render "marketing/shared/hero_block" do %>
  <div class="forgot-password-form">
    <div>
      <div>
        <%= render partial: "forgot_password_form" %>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
<% end %>
