<div class="centered-container">
  <div>
    <div>
      <div class="registration-form">
        <div>
          <header>
            <h3><%= t(".sign_up") %></h3>
          </header>

          <%= render "form", registration: @registration %>
        </div>
      </div>
    </div>
  </div>
</div>
