<%= render "marketing/shared/hero_block" do %>
  <div class="centered-container">
    <div>
      <div>
        <div class="registration-form">
          <div>
            <header>
              <h3>Sign Up</h3>
            </header>

            <%= render "form", registration: @registration %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
