.application-header {
  @extend .navbar;
  @extend .navbar-light;
  background-color: #EE7437;
  margin-bottom: $grid-gutter-width;

  & > div {
    @include pull-right();
    @extend .nav;
    @extend .navbar-nav;
  }

  & > div > a {
    @extend .nav-item;
    @extend .nav-link;

    color: #feffe7;
  }
}
