.application-header {
  @extend .navbar;
  @extend .navbar-light;
  background-color: $brand-primary;
  margin-bottom: $grid-gutter-width;

  & > a {
    color: #ffffff;
    line-height: 35px;
    font-size: 20px;
    vertical-align: middle;

    &:hover {
      text-decoration: none;
    }

    img {
      max-height: 35px;
    }
  }

  & > div {
    @include pull-right();
    @extend .nav;
    @extend .navbar-nav;
  }

  & > div > a {
    @extend .nav-item;
    @extend .nav-link;

    color: #fff;
  }
}
