<section class="pricing-plans">
  <div>
    <article>
      <div>
        <% PricingPlan.all.order(:price).map do |pricing_plan| %>
          <%= render partial: "pricing_plans/pricing_plan", object: pricing_plan %>
        <% end %>
      </div>
    </article>
  </div>
</section>
