<table style="width: 650px; background-color: #ff1c1c">
  <tr>
    <td style="padding-bottom: 10px; padding-top: 10px;">
      <%= image_tag image_url("swan_white_text_2x.png"), height: "40px" %>
    </td>
    <td style="text-align: right; padding-right: 10px">
      <%= link_to t(".help"), new_inquiry_url, style: "color: #ffffff; text-decoration: none" %>&nbsp;&nbsp;
      <%= link_to t(".login"), new_user_session_url, style: "color: #ffffff; text-decoration: none" %>
    </td>
  </tr>
</table>
