<section class="build">
  <div>
    <article>
      <div></div>
      <div>
        <h3><%= t(".title") %></h3>
        <%= t(".description") %>
        <br><br>
        <%= link_to t(".how_it_works"), how_it_works_path %>
      </div>
    </article>
  </div>
</section>
