<section class="slack">
  <div>
    <article>
      <div></div>
      <div>
        <h3><%= t(".title") %></h3>
        <%= t(".description") %><br><br>
        <%= link_to t(".learn_more"), slack_path %>
      </div>
    </article>
  </div>
</section>
