section.build {
  & > div {
    @include make-container();
    max-width: 1280px;
  }

  article {
    @include make-row();

    & > div {
      @include make-col-ready();
      @include make-col(6);

      min-height: 350px;

      @include media-breakpoint-down(sm) {
        @include make-col(12);

        @include make-col-offset(0);

        min-height: 100px;
        text-align: center;
      }
    }

    & > div:first-child {
      background-image: image-url("marketing/index/build.gif");
      background-position: left;
      background-repeat: no-repeat;
      background-size: contain;

      @include make-col-push(6);

      @include media-breakpoint-down(sm) {
        @include make-col-push(0);
        background-position: center;

        min-height: 200px;
      }
    }

    & > div:last-child {
      @include make-col(5);
      @include make-col-offset(1);
      @include make-col-pull(6);

      padding-top: 3em;

      @include media-breakpoint-down(sm) {
        @include make-col-offset(0);
        @include make-col(12);
        @include make-col-pull(0);

        padding-bottom: 1em;
        padding-top: 1em;
      }
    }
  }
}
