.preview {
  background-color: #e3edfa;

  & > div {
    @include make-container();
    max-width: 1024px;
  }

  article {
    @include make-row();

    & > div {
      @include make-col-ready();
      @include make-col(6);

    }

    & > div:first-child {
      @include make-col-push(6);
      @include make-col(6);

      min-height: 350px;
      padding-top: 3em;

      @include media-breakpoint-down(sm) {
        @include make-col-push(0);
        @include make-col(12);

        min-height: 0;
        text-align: center;
      }
    }

    & > div:last-child {
      @include make-col-pull(6);

      background-size: contain;
      background-position: center bottom;
      background-image: image-url("marketing/index/preview.gif");
      background-repeat: no-repeat;
      min-height: 400px;

      @include media-breakpoint-down(sm) {
        @include make-col-pull(0);
        @include make-col(12);
      }
    }
  }
}
