.slack {
  & > div {
    @include make-container();
    max-width: 1280px;
  }

  article {
    @include make-row();

    & > div {
      @include make-col();
      @include make-col-span(5);
      @include make-col-offset(1);

      min-height: 350px;

      &:first-child {
        padding-top: 3em;
      }

      &:last-child {
        @include make-col-span(6);
        @include make-col-offset(0);

        background-image: image-url("marketing/index/slack.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
  }
}
