.pricing-plan {
  @include make-col();
  @include make-col-span(4);

  @include media-breakpoint-down(sm) {
    @include make-col-span(12);
    margin-bottom: 2em;
  }


  & > div {
    @include emphasized-box($white);
    color: #656566;
    font-weight: 200;
    min-height: 495px;
    padding: 50px 0;
    text-align: center;
  }

  .plan-name {
    font-size: 20px;
  }

  .plan-price {
    margin: 50px 0;
    font-size: 60px;
    font-weight: 100;
    line-height: 42px;
    vertical-align: top;

    div {
      font-size: 15px;
      color: #959697;
    }

    span {
      color: #757676;
      font-size: 30px;
      line-height: 27px;
      vertical-align: top;
    }
  }

  article {
    min-height: 125px;
  }

  section {
    margin: 10px 0;
  }

  span.selected-plan {
    @extend .btn;
    font-weight: 200;
  }

  a,button,input[type=submit] {
    @extend .btn;
    @extend .btn-primary;
  }
}
