<%= render "marketing/shared/hero_block" do %>
  <div class="login-form">
    <div>
      <div>
        <header>
          <h3><%= t(".sign_in") %></h3>
        </header>

        <%= render "form" %>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
<% end %>

