<%= render "marketing/shared/hero_block" do %>
  <div class="accept-invitation">
    <div>
      <div>
        <%= render partial: "accept_password_form" %>
      </div>
    </div>
  </div>
<% end %>
