<%= render layout: "layouts/account_settings" do %>
  <div>
    <h3><%= t("application.accounts.edit.header") %></h3>
  </div>

  <div>
    <%= render partial: "form", locals: { account: @account } %>
  </div>
<% end %>
