section.build {
  & > div {
    @include make-container();
    max-width: 1280px;
  }

  article {
    @include make-row();

    & > div {
      @include make-col();
      @include make-col-span(5);
      @include make-col-offset(1);

      min-height: 350px;

      &:first-child {
        padding-top: 3em;
      }

      &:last-child {
        @include make-col-span(6);
        @include make-col-offset(0);
        background-size: contain;
        background-position: left;
        background-image: image-url("marketing/index/build.gif");
        background-repeat: no-repeat;
        min-height: 400px;
      }
    }
  }
}
