.hero-section {
  background-size: cover;
  background-position: center;
  background-image: asset-url("assets/marketing/index/backgrounds/Elegant_Background-24-sm.jpg");
  height: 100vh;

  & > div {
    background-color: rgba(0, 0, 0, 0.3);
    height: 100vh;
  }

  .hero-content {
    color: #feffe7;
    padding: 20% 10%;
    h3 {
      font-family: 'Montserrat', sans-serif;
    }
  }
}
