<div style="padding: 15px">
  <p><%= t(".salutation", name: @resource.email) %></p>

  <%= t(".body_html",
        reset_link: link_to(
          t(".change_password"),
          edit_password_url(@resource, reset_password_token: @token)
      )) %>
</div>
