$enable-rounded: false;


$white: #ffffff;

/*$brand-primary: #ff8174;*/
/*$brand-primary: #ff6959;*/
$brand-primary: #ff4428;

$brand-info: #dcf0ee;

$dark-blue: #48537d;
$body-bg: #ebedf5;
$body-bg: #ecf0ff;

$dark-text: #333333;

// $body-bg: #48537d; // dark blue

$font-family-serif: "Montserrat" serif;
$font-family-sans-serif: "Roboto" sans-serif;

$headings-font-weight: 200;
